.footer {
    background-color: #0a0e29;
    color: white;
    padding: 60px 0 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em 0;
    width: min(calc(100% - 2rem), 1280px);
    margin-inline: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
    p {
        background: linear-gradient(to right, #e83a95, #42c6ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        margin: 0;
    }
}

.copyright {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    padding: 2em 0;
    width: min(calc(100% - 2rem), 1280px);
    margin-inline: auto;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link {
    background: linear-gradient(to right, #e83a95, #42c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    margin: 0;
}

.link:hover {
  color: #42c6ff;
}

